.ipynb_checkpoints
TrialRun.ipynb
data
faceDetect
fromScratchCNN.ipynb
gpuWorking.ipynb
number plate detection.ipynb
training_1
training_2
training_3
training_incep1
training_incep2
training_incep3
trialInception.ipynb
